<table class="table">
  <tr>
    <th scope="row" class="<%= slug %>-color bold">Valeur du dé</th>
    <% for (const [dice, occ] of Object.entries(counts).slice(0 + index, 20 + index)) { %>
      <td class="bold"><%= dice %></td>
    <% } %>
  </tr>
  <tr>
    <th scope="row" class="<%= slug %>-color">Occurrences</th>
    <% for (const [dice, occ] of Object.entries(counts).slice(0 + index, 20 + index)) { %>
      <% if (occ === min) { %>
        <td class="fail bold"><%= occ %></td>
      <% } else if (occ === max) { %>
        <td class="success bold"><%= occ %></td>
      <% } else { %>
      <td><%= occ %></td> %>
      <% } %>
    <% } %>
  </tr>
</table>