<header class="page-header">
  <section class="<%= rpgData.slug %>-color nav-section">
    <nav class="navbar">
      <a href="/" class="nav-item button-<%= rpgData.slug %>">Accueil</a>
      <% rpgList.forEach(rpg => { %>
        <a href="/campagne/<%= rpg.slug %>" class="nav-item button-<%= rpgData.slug %>"><%= rpg.name %></a>
      <% }); %>
      <% if (username) { %>
        <p class="black flex-row-center">
          <img class="img-icon-bg mr-10" src="/static/images/circle-user.svg">
          <b class="mr-10"><%= username %></b>
          <a href="/logout" class="icon nav-icon"><img src="/static/images/logout.png" alt="[->" class="img-icon"></a>
        </p>
      <% } else { %>
        <a href="/login-page" class="icon nav-icon <%= rpgData.slug %>-color button-<%= rpgData.slug %>"><img src="/static/images/login-icon.svg" class="img-icon" alt="->]"/></a>
      <% } %>
    </nav>
  </section>

  <section class="<%= rpgData.slug %>-icon nav-section">
    <h1 class="title"><%= pageTitle %></h1>
  </section>
</header>