<header class="page-header">
  <section class="<%= rpgData.slug %>-color nav-section">
    <nav class="navbar">
      <a href="/" class="nav-item button-<%= rpgData.slug %>">Accueil</a>
      <% rpgList.forEach(rpg => { %>
        <a href="/campagne/<%= rpg.slug %>" class="nav-item button-<%= rpgData.slug %>"><%= rpg.name %></a>
      <% }); %>
    <%- include('loginButton', {username, slug: rpgData.slug}) %>
    </nav>
  </section>

  <section class="<%= rpgData.slug %>-icon nav-section">
    <h1 class="title"><%= pageTitle %></h1>
  </section>
</header>