<%- include('partials/header') %>
<%- include('partials/navigation', {rpgData, rpgList, pageTitle: character, username }) %>

<main class="characterPage__main">
  <div class="characterPage__main_sections-container">
    <section class="characterPage__main_stats-section">
      <h2 class="">Statistiques globales</h2>
      <article class="<%= rpgData.slug %>-color characterPage__main_stats-section_article">
        <p><b>Total de dés lancés :</b> <%= rpgData.stats[character].dicesList.length %></p>
        <p><b>Moyenne globale :</b> <%= rpgData.stats[character].globalAvg %></p>
        <p><b>Médiane globale :</b> <%= rpgData.stats[character].globalMedian %></p>
        <p><b>Réussites critiques :</b> <%= rpgData.stats[character].globalSuccess %></p>
        <p><b>Échecs critiques : </b><%= rpgData.stats[character].globalFail %></p>
        <p><b>Pourcentage de réussites critiques :</b> <%= (rpgData.stats[character].globalSuccess / rpgData.stats[character].dicesList.length * 100).toFixed(2) %>%</p>
        <p><b>Pourcentage d'échecs critiques :</b> <%= (rpgData.stats[character].globalFail / rpgData.stats[character].dicesList.length * 100).toFixed(2) %>%</p>
      </article>
    </section>
    
    <section class="characterPage__main_hist-section">
      <h2>Histogramme des dés de la campagne</h2>
      <img src="/static/images/histograms/hist-<%= character %>.png" alt="Histogramme des dés non disponible" id="histogram" class="histogram-img">
      <legend>La ligne rouge représente les statistiques attendues selon les probabilités</legend>
    </section>
  </div>

  <section class="dice-list-section">
    <h2 class="text-2xl bold my-4">Liste détaillée des dés</h2>

    <table class="table">
      <tr>
        <th scope="row" class="<%= rpgData.slug %>-color bold">Valeur du dé</th>
        <% for (const [dice, occ] of Object.entries(counts).slice(0, 20)) { %>
          <td class="bold"><%= dice %></td>
        <% } %>
      </tr>
      <tr>
        <th scope="row" class="<%= rpgData.slug %>-color">Occurrences</th>
        <% for (const [dice, occ] of Object.entries(counts).slice(0, 20)) { %>
          <% if (dice <= 20) { %>
            <% if (occ === min) { %>
              <td class="fail bold"><%= occ %></td>
            <% } else if (occ === max) { %>
              <td class="success bold"><%= occ %></td>
            <% } else { %>
            <td><%= occ %></td> %>
            <% } %>
          <% } %>
        <% } %>
      </tr>
    </table>
    
    <% if (rpgData.diceSystem === 100) {%>
      <table class="table">
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color bold">Valeur du dé</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(20, 40)) { %>
            <td class="bold"><%= dice %></td>
          <% } %>
        </tr>
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color">Occurrences</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(20, 40)) { %>
            <% if (occ === min) { %>
              <td class="fail bold"><%= occ %></td>
            <% } else if (occ === max) { %>
              <td class="success bold"><%= occ %></td>
            <% } else { %>
            <td><%= occ %></td> %>
            <% } %>
          <% } %>
        </tr>
      </table>

      <table class="table">
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color bold">Valeur du dé</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(40, 60)) { %>
            <td class="bold"><%= dice %></td>
          <% } %>
        </tr>
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color">Occurrences</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(40, 60)) { %>
            <% if (occ === min) { %>
              <td class="fail bold"><%= occ %></td>
            <% } else if (occ === max) { %>
              <td class="success bold"><%= occ %></td>
            <% } else { %>
            <td><%= occ %></td> %>
            <% } %>
          <% } %>
        </tr>
      </table>

      <table class="table">
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color bold">Valeur du dé</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(60, 80)) { %>
            <td class="bold"><%= dice %></td>
          <% } %>
        </tr>
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color">Occurrences</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(60, 80)) { %>
            <% if (occ === min) { %>
              <td class="fail bold"><%= occ %></td>
            <% } else if (occ === max) { %>
              <td class="success bold"><%= occ %></td>
            <% } else { %>
            <td><%= occ %></td> %>
            <% } %>
          <% } %>
        </tr>
      </table>

      <table class="table">
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color bold">Valeur du dé</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(80, 100)) { %>
            <td class="bold"><%= dice %></td>
          <% } %>
        </tr>
        <tr>
          <th scope="row" class="<%= rpgData.slug %>-color">Occurrences</th>
          <% for (const [dice, occ] of Object.entries(counts).slice(80, 100)) { %>
            <% if (occ === min) { %>
              <td class="fail bold"><%= occ %></td>
            <% } else if (occ === max) { %>
              <td class="success bold"><%= occ %></td>
            <% } else { %>
              <td><%= occ %></td> %>
            <% } %>
          <% } %>
        </tr>
      </table>
    <% } %>
  </section>
</main>


<%- include('partials/footer') %>