<%- include('partials/header') %>

  <h1 class="home-title">Les campagnes de JDR</h1>

  <% rpgFilesList.forEach(rpg => { %>
    <a href="/campagne/<%= rpg.slug %>" class="link-card">
      <h2 class="<%= rpg.slug %>-icon rpg-card"><%= rpg.name %></h2>
    </a>
  <% }); %>

<%- include('partials/footer') %>