<%- include('partials/header') %>

  <main class="homepage__main">
    <header class="homepage__main-header">
      <% if (username) { %>
        <a href="/nouvelle-campagne" class="button bg-primary">+</a>
      <% } else { %>
        <div></div>
      <% } %>

      <h1 class="homepage__main-header_title">Les campagnes</h1>
      
      <%- include('partials/loginButton', {username, slug: "bg-light"}) %>
    </header>

    <section class="homepage__main-section">
      <% rpgFilesList.forEach(rpg => { %>
        <a href="/campagne/<%= rpg.slug %>" class="link-card">
          <h2 class="<%= rpg.slug %>-icon rpg-card bold text-xl lg:text-3xl"><%= rpg.name %></h2>
        </a>
      <% }); %>
    </section>
  </main>

<%- include('partials/footer') %>