<%- include('partials/header') %>
  <section class="nav-section">
    <nav class="navbar default-color">
      <a href="/" class="nav-item default-hover">Accueil</a>
      <% rpgList.forEach(rpg => { %>
        <a href="/campagne/<%= rpg.slug %>" class="nav-item default-hover"><%= rpg.name %></a>
      <% }); %>
      <%- include('partials/loginButton', {username, slug: "default"}) %>
    </nav>
  </section>

  <h1 class="title bg-title">Se connecter</h1>

  <form action="/login" method="post" class="login-form w-[20%]">
    <label for="username">Identifiant</label>
    <input type="text" name="username" id="username" required pattern="[^<>%${}?!/@]" class="bg-white">

    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" class="bg-white">

    <button class="button validation-button" type="submit">Se connecter</button>
  </form>

  <% if (error && error !== null) { %>
    <p class="fail"><%= error %></p>
  <% } %>

<%- include('partials/footer') %>